.DS_Store
files/data-612/lab-1-solutions.md
files/data-612/.lab1-solutions-password
files/data-612/sample-quarto-report_files/
files/data-612/sample-quarto-report.tex
files/data-612/sample-quarto-report.knit.md
scripts/__pycache__/

