.DS_Store
files/data-612/lab-1-solutions.md
files/data-612/lab-2-solutions.md
files/data-612/lab-3-solutions.md
files/data-612/lab-4-solutions.md
files/data-612/lab-5-solutions.md
files/data-612/lab-6-solutions.md
files/data-612/lab-7-solutions.md
files/data-612/lab-8-solutions.md
files/data-612/lab-9-solutions.md
files/data-612/lab-10-solutions.md
files/data-612/lab-11-solutions.md
files/data-612/lab-12-solutions.md
files/data-612/lab-13-solutions.md
files/data-612/lab-14-solutions.md
files/data-612/.lab1-solutions-password
files/data-641/lab-*-solutions.md
files/data-641/.lab-solutions-password
files/data-641/_slide-work/
files/data-641/_lab-src/
files/Notes___641_and_642/
files/Quizzes___641and_642/
files/_extra-compile/
files/_private-assessments/
files/data-642/_src/
files/data-642/_slide-work/
files/data-612/sample-quarto-report_files/
files/data-612/sample-quarto-report.tex
files/data-612/sample-quarto-report.knit.md
scripts/__pycache__/

